<h1>All Downloadable Demos</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th>Demo</th>
      <th>Posted Date</th>
    </tr>
  </thead>

  <tbody>
    <% @songs.each do |song| %>
      <tr>
        <td><%= link_to(song.title, song.remote_url) %></td>
        <td><%= link_to(song.username, song.remote_user_url) %></td>
        <td><%= link_to('Demo', song.demo_href) %></td>
        <td><%= song.posted_date %></td>
      </tr>
    <% end %>
  </tbody>
</table>
